*.png
*.svg
*.log
jobs/
*.pkl
poly_*/
*.json
*.wandb
*.pkl
*.yaml
OULU/
HCP/
SIMULATION/
mkpths*.sh
submit*.sh
__pycache__/
*.nfs
confmats/
*.npz
simulation_data/
*.csv
simulation_data.tar
cmds
subs/
demographics.txt
assets/data/hcp-demographics-subsample.txt
assets/data/hcp-demographics.txt
assets/data/oulu-demographics.txt
